html {
  padding: 0;
}

body {
  margin: 0;

  font-family: Inter, sans-serif;
}

.navbar {
  color: #ffffff;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar--icon {
  margin-right: 10px;
}

.navbar--title {
  font-weight: 500;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #2b283a;
  margin: 2.5rem auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 706px;
}

.card--img-wrapper {
  display: inline-block;
  max-width: 150px;
  margin-right: 1.25rem;
  max-height: 200px;
}

.card--img {
  width: 140px;
  height: 225px;
  border-radius: 5px;
  object-fit: cover;
}

.card--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card--info--location {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.17em;
  margin-bottom: 0;
}

.card--info--location-icon {
  color: #f55a5a;
}

.card--info--coordinate {
  color: #918e9b;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
}

.card--info--destination {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0;
}

.card--info--date {
  font-weight: 700;
  margin-top: 2em;
}

.card--info--desc {
  font-weight: 400;
  margin-top: 0;
}
